# Environment variables
.env
.envrc

# Dependencies
node_modules/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Nuxt.js
.nuxt
dist
.output

# Devenv
.direnv
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
